<!DOCTYPE html>
<html>
<head>
  <!-- Meta Data can be added from config/application.yml -->
  <title>New Hire - onboarding software</title>
  <meta name="description" content="Onboard new hires faster and easier.">
  <meta property="og:site_name" content="New Hire Onboarding Software"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <!-- End Meta Data -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" >
  <style>
  .logo a {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
  }
  body {
    background-color: #ededed;
  }
  .hero {
    background-color: #388ce0;
  }
  .signup {
    background-color: #dbdbdb;
    padding-top:10px;
    padding-bottom:20px;
  }
  .footer {
    font-size: 13px;
    color: gray;
    margin-bottom:15px;
  }
  .benefit {
    font-family: 'Architects Daughter', cursive;
    font-size:21px;
    margin-bottom:5px;
    color:#388ce0;
  }
  </style>
</head>
<body>  


  <div class="hero" style="padding-top:20px;">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="logo text-center"><a href="/">NewHire.io</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="lead text-center" style="color:#fff;"><i>onboard new hires faster and easier</i></p>
      </div>
    </div>
  </div>

  <div class="signup">
    <%= yield %>
  </div>

  <div class="container">
  <div class="row" style="margin-bottom:60px;margin-top:40px;">
    <div class="col-lg-2 col-lg-offset-2 col-xs-6 text-center">
      <img src="/assets/calendar.png" width="100%;" style="opacity:.5;">
    </div>
    <div class="col-lg-6 col-xs-6">
        <p class="benefit">Scheduled communications for new hires</p>
        You've just signed on the perfect new hire for your team. Now it's time for her to work. Let NewHire.io help get her up to speed on your company culture, policies, and practicies, without overloading her on day one.
    </div>
  </div>

  <div class="row" style="margin-bottom:60px;">
    <div class="col-lg-6 col-lg-offset-2 col-xs-6">
        <p class="benefit">Set it and forget it</p>
        Every time you hire a new employe, you spend the day explaining how to work the printer, when the 401k forms can be submitted, how to sign up for health insurance, etc. Write it once, schedule it, and your done. When you add a new employee to NewHire.io, they'll receive the right communications, when they need them.
    </div>
    <div class="col-lg-2 col-xs-6 text-center">
      <img src="/assets/repeatedit.png" width="100%;" style="opacity:.5;">
    </div>
  </div>

  <div class="row" style="margin-bottom:40px;">
    <div class="col-lg-2 col-lg-offset-2  col-xs-6 text-center">
      <img src="/assets/people.png" width="100%;" style="opacity:.5;">
    </div>
    <div class="col-lg-6 col-xs-6">
        <p class="benefit">Great for HR people and companies without HR people</p>
        We want to make companies more efficient. NewHire.io makes new employees feel empowered with the right information while taking the load off HR and management so you don't have to sweat the small stuff.
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p class="footer">Icons by Lemon Liu, Johan H. W. Basberg, and Charlene Chen from the Noun Project.<br/>hello@newhire.io</p>
    </div>
  </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46437250-1', 'newhire.io');
  ga('send', 'pageview');

</script>

</body>
</html>
